body {
    text-align: center;
    background-color: black;
    font-family: 'Comic Neue', cursive;
}

#heading {
    background-image: linear-gradient(to right, yellow, brown);
    
}

#logo {
    height: 250;
    width: 800;
}

.panel {
    margin-top: 30;
    background-image: linear-gradient(to right, blue, green);
    color: white;
}

#object {
    height: 500;
    width: 250;
}
 
label {
    background-color: grey;
    border-radius: 50%;
    margin-top: 10px;  
}

footer {
    margin-top: 100px;
    background-color:  purple;
    color: red;
}

h3 {
    color: blue
}
